{% extends 'Base.html' %}

{% block title %}login{% endblock %}

{% block style %}
    <style>
        html{
            margin: 0;
            padding: 0;
        }

        body{
            margin: 0;
            padding: 0;
        }

        body{
            background-color: #e9ecef;
        }

        .in_form{
            margin-right: 10%;
        }
    </style>
{% endblock %}

{% block content %}
    <center><h3>برای شروع یادگیری وارد شوید.</h3></center><br><br><br>
    <section class="hero is-dark is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desctop is-3-widescreen">
                        <center>
                            <form action="" method="post" class="box">
                                {% csrf_token %}
                                <div class="field">
                                    <label for="" class="label">نام کاربری</label>
                                    <div class="control has-icons-left">
                                        {{form.username}}
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-user"></i>
                                        </span>
                                    </div>
                                </div>
            
                                <div class="field">
                                    <label for="" class="label">رمز</label>
                                    <div class="control has-icons-left">
                                        {{form.password}}
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div><br>
            
                                <input type="submit" value="ورود">
                            </form>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section><br><br><br>
    <center><h4>اگر حساب کاربری ندارید، <a href="{% url 'user_register' %}">اینجا</a> کلیک کنید.</h4></center>
{% endblock %}








<!-- 
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desctop is-3-widescreen">
                    <center>
                        <form action="." method="post" class="box">
                            {% csrf_token %}
                            <div class="field">
                                <label for="" class="label">نام کاربری</label>
                                <div class="control has-icons-left">
                                    {{form.username}}
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
        
                            <div class="field">
                                <label for="" class="label">رمز</label>
                                <div class="control has-icons-left">
                                    {{form.password}}
                                    <span class="icon is-small is-left">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                </div>
                            </div><br>
        
                            <input type="submit" value="ورود">
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section><br><br><br> -->